<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
</head>
<body>
  <h1>メニュー</h1>
  <!-- <p sec:authorize="authenticated">ようこそ<span sec:authentication="principal.loginUser.name">ユーザー</span>さん</p> -->
  <div>
    <a href="/webappSample?locale=en">English</a>
    <a href="/webappSample?locale=ja">Japanese</a>
  </div>
  <ul>
    <li sec:authorize="not authenticated"><a th:href="@{/login}">ログインページへ</a></li>
    <li><a th:href="@{/table_reference/}">一覧参照</a></li>
    <li><a th:href="@{/record_update/}">単票更新</a></li>
  </ul>
  <form sec:authorize="authenticated" method="post" th:action="@{/logout}">
    <button type="submit">ログアウト</button>
  </form>

</body>
</html>