<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一覧参照</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/table_reference.css}" />
</head>
<body>
  <div>
    <h2>社員マスタ検索</h2>
  </div>
  <form method="post" th:object="${tableReferenceForm}">
    <div id="condition-area">
      <label for="employeeId" th:text="#{table_reference.employeeId}">社員ID</label>
      <input type="text" th:field="*{employeeId}">
      <label for="name">社員名</label>
      <input type="text" th:field="*{name}">
      <label>性別</label> <label for="gender_m">男</label>
      <input type="checkbox" th:field="*{gender_m}">
      <label for="gender_f">女</label>
      <input type="checkbox" th:field="*{gender_f}">
      <label for="enteringYear">入社年</label>
      <input type="text" th:field="*{enteringYear}">
      <label for="retired">退職済</label>
      <input type="checkbox" th:field="*{retired}">
      <label for="departmentId">部署</label>
      <input type="text" th:field="*{departmentId}">
      <button id="searchB" type="submit" th:formaction="@{/table_reference/search}">検索</button>
    </div>

    <div id="table-area">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>社員ID</th>
            <th>社員名</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>入社年月日</th>
            <th>退社年月日</th>
            <th>部署</th>
            <th>編集</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dt : *{detail}">
            <td th:text="${dt.no}">No.</td>
            <td th:text="${dt.employeeId}">社員ID</td>
            <td th:text="${dt.name}">社員名</td>
            <td th:text="${dt.genderName}">性別</td>
            <td th:text="${dt.birthday}">生年月日</td>
            <td th:text="${dt.enteringDate}">入社年月日</td>
            <td th:text="${dt.retirementDate}">退社年月日</td>
            <td th:text="${dt.departmentName}">部署</td>
            <td>
              <a th:href="@{'/record_update/?screenMode=2&employeeId=' + ${dt.employeeId}}">編集</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</body>
</html>