<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一覧参照</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/table_reference.css}" />
</head>
<body>
  <div>
    <h2>社員マスタ検索</h2>
  </div>
  <form id="form" method="post" th:object="${tableReferenceForm}">
    <div id="condition-area">
      <label for="employeeId" th:text="#{table_reference.employeeId}">社員ID</label>
      <input type="text" th:field="*{employeeId}">
      <label for="name">社員名</label>
      <input type="text" th:field="*{name}">
      <label>性別</label> <label for="gender_m">男</label>
      <input type="checkbox" th:field="*{gender_m}">
      <label for="gender_f">女</label>
      <input type="checkbox" th:field="*{gender_f}">
      <label for="enteringYear">入社年</label>
      <input type="text" th:field="*{enteringYear}">
      <label for="retired">退職済</label>
      <input type="checkbox" th:field="*{retired}">
      <label for="departmentId">部署</label>
      <input type="text" th:field="*{departmentId}">
      <button id="searchB" type="submit" th:formaction="@{/table_reference/search}">検索</button>
    </div>

    <div id="table-area">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>社員ID</th>
            <th>社員名</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>入社年月日</th>
            <th>退社年月日</th>
            <th>部署</th>
            <th>編集</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dt : *{detail}">
            <td th:text="${dt.no}">No.</td>
            <td th:text="${dt.employeeId}">社員ID</td>
            <td th:text="${dt.name}">社員名</td>
            <td th:text="${dt.genderName}">性別</td>
            <td th:text="${dt.birthday}">生年月日</td>
            <td th:text="${dt.enteringDate}">入社年月日</td>
            <td th:text="${dt.retirementDate}">退社年月日</td>
            <td th:text="${dt.departmentName}">部署</td>
            <td>
              <button th:data-employeeId="${dt.employeeId}" class="btn btn-link">編集</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  <div th:if="${page != null}">
    <ul>
      <li style="display: inline;">
        <span th:if="${page.first}">&lt;&lt;前</span>
        <a th:if="${!page.first}" th:href="@{/table_reference/search(page = ${page.number} - 1)}"> &lt;&lt;前 </a>
      </li>
      <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" style="display: inline; margin-left: 10px;">
        <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
        <a th:if="${i} != ${page.number}" th:href="@{/table_reference/search(page = ${i})}">
          <span th:text="${i+1}">1</span>
        </a>
      </li>
      <li style="display: inline; margin-left: 10px;">
        <span th:if="${page.last}">次&gt;&gt;</span>
        <a th:if="${!page.last}" th:href="@{/table_reference/search(page = (${page.number} + 1))}"> 次&gt;&gt; </a>
      </li>
    </ul>
  </div>
  <script th:src="@{/js/table_reference.js}"></script>
</body>
</html>